body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

#game-container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 85vh;
  display: grid;
  grid-template-columns: repeat(40, 1fr);
  grid-template-rows: repeat(25, 1fr);
}
#game-container div:hover {
  border: 2.5px solid;
  border-color: white;
}

.stone {
  background: URL('images/stone.jpg');
  background-size: cover;
}
.soil {
  background: URL('images/soil.png');
  background-size: cover;
}
.grass {
  background: URL('images/grass.png');
  background-size: cover;
}
.sky {
  background-color: rgb(156, 233, 233);
}
#redstone {
  background: URL('images/redstone.jpg');
  background-size: cover;
}
#gold {
  background: URL('images/gold.png');
  background-size: cover;
}
#diamond {
  background: URL('images/diamond.png');
  background-size: cover;
}
#coal {
  background: URL('images/coal.png');
  background-size: cover;
}

#tools-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  background-color: black;
  width: 100%;
  height: 15vh;
  align-items: center;
}

#box {
  background: URL('images/box.png');
  background-size: cover;
  grid-area: 1/1/2/2;
  width: 5rem;
  height: 5rem;
  justify-self: end;
}

#tools {
  grid-area: 1/2/2/3;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#tools div {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 10px;
  background-color: rgb(49, 47, 47);
}
#tools div:hover {
  border: 1px solid white;
}

#ax {
  background: URL('images/ax.png');
  background-size: cover;
}

#shovel {
  background: URL('images/shovel.png');
  background-size: cover;
}
#pickaxe {
  background: URL('images/pickaxe.png');
  background-size: cover;
}

#sword {
  background: URL('images/sword.png');
  background-size: cover;
}

#reset {
  background-color: rgb(109 109 109);
  width: 10rem;
  height: 3.5rem;
  border-radius: 10px;
  color: white;
  border: 1px solid white;
  grid-area: 1/3/2/4;
}

#reset:hover {
  background-color: rgb(150, 47, 47);
}

#items {
  display: none;
  grid-area: 1/1/2/2;
  width: 300px;
  height: 100px;
  background-color: grey;
}
